<!DOCTYPE html>
<html>
  <head>
    <title>Barbershop</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
	
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
		
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
	
 
 
  </head>
  <body>
    <nav class="navbar navbar-blue navbar-fixed-top" role="navigation">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Barbershop Management System</a>
      </div>


      <div class="collapse navbar-collapse navbar-ex1-collapse">
      
        
      
      </div>
      <!-- navbar-collapse -->
    </nav>


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-3 sidebar">
            <div class="user-panel">
            <div class="pull-left image">
              <img src="/images/avatar.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Admin</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          
          <ul class="nav nav-pills nav-stacked ">
          	<li><a href="/stylists/new">New Stylists</a></li>
          	<li><a href="/stylists">All Stylists</a></li>
          	<li><a href="/clients/new">New Clients</a></li>
          	<li><a href="/clients">All Clients</a></li>
          </ul>
          </div><!--      sidebar-->
           
            <div class="content container">
                    <!--        tab-content-->
              <div class="col-sm-9 col-md-9">
                
                <div class="tab-content">
                  #parse( $template )
                </div>
              </div>
            </div>
          
        </div><!--    end of row-->
      </div>
  #[[
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
		 <script src="js/script.js"></script>
    ]]#
  </body>
</html>
